<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>index.html</title>
		<style>
			a {
				display : block;
			}
		</style>
	</head>
	<body>
		Welcome - here is index.html<hr>
		
		<!--  <a href="/ajax/ex0"></a><br/>   -->
		<a href="/ajax/ex01">01_get type request</a>
		<a href="/ajax/ex02">02_post type request</a>
		<a href="/ajax/ex03">03_get type request & send parameter</a>
		<a href="/ajax/ex04">04_post type request & send parameter</a>
		<a href="/ajax/ex05">05_get type request & send parameter with DTO & return DTO object</a>
		<a href="/ajax/ex06">06_post type request & send parameter with DTO & return DTO object</a>
		<a href="/ajax/ex07">07_post type request & send parameter with DTO(@RequestBody) & return DTO object</a>
		<a href="/ajax/ex08">08_post type request & send parameter & return List object</a>
		<a href="/ajax/ex09">09_post type request & send parameter & return DTO object with ResponseEntity</a>
		<a href="/ajax/ex10">10_post type request & send parameter & return List object with ResponseEntity</a>
	</body>
</html>