<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ex07.html</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	crossorigin="anonymous">
		
		
		</script>
<script>
			const ex07Fn = () =>{
				const val1 ="Hello World";
				
				const params = {
					"param1" : val1,
					"param2": "ABCD"
				}
				
				$.ajax({
					type: "post",
					url: "/ajax/ajaxEx07",
					data: JSON.stringify(params),
					contentType: "application/json",
					
					success: function(res){
						console.log( " success : ", res )
						console.log( "param1 : ", res.param1);
					},
					error : function(){
						console.log( " fail " )
					}
				})
			}
		</script>
</head>
<body>
	here is ex07.html
	<hr>
	<button onclick="ex07Fn()">call ex07 function</button>

</body>
</html>