<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ex10.html</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	crossorigin="anonymous">
		
		
		</script>
<script>
			const ex10Fn = () =>{
				const val1 ="Hello World";
				
				const params = {
					"param1" : val1,
					"param2": "ABCD"
				}
				
				$.ajax({
					type: "post",
					url: "/ajax/ajaxEx10",
					data: JSON.stringify(params),
					contentType: "application/json",
					
					success: function(res){
						console.log( " success : ", res )
						console.log(res[0]);
						for( let i in res ){
							console.log( "i : " , i );
							console.log(res[i]);
						}
						
					},
					error : function(){
						console.log( " fail " )
					}
				})
			}
		</script>
</head>
<body>
	here is ex10.html
	<hr>
	<button onclick="ex10Fn()">call ex10 function</button>

</body>
</html>